// Подключение своих шрифтов.
@font-face {
    font-family: "Suisse Intl";
    src: url('../fonts/suisseintl-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-webfont.woff') format('woff'),
         url('../fonts/suisseintl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "Suisse Intl - Light";
    src: url('../fonts/suisseintl-light-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-light-webfont.woff') format('woff'),
         url('../fonts/suisseintl-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "Suisse Intl - Semi Bold";
    src: url('../fonts/suisseintl-semibold-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-semibold-webfont.woff') format('woff'),
         url('../fonts/suisseintl-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}