// fonts
$font: "Suisse Intl", "sans-serif";
$fontLight: "Suisse Intl - Light", "sans-serif";
$fontBold: "Suisse Intl - Semi Bold", "sans-serif";

// colors
$black: #333;
$error: #db3232;
$green: #3db565;